.container{
    height: 100vh;
   /* background: #8E0E00;  /* fallback for old browsers */
   /* background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
   /* background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.container .info{
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: space-between;
}
.separacao{
    width: 2px;
    background-color: #fff;
    height: 350px;
    margin: 0;
    box-shadow: 5px -3px 5px #000;
}
.container .info .banner img{
    object-fit: cover;
    filter: drop-shadow(8px -3px 8px #990000);
}
.container .info .banner img:hover{
    transition: all 1s;
    filter: drop-shadow(8px -3px 8px #ff0000);
}

.container .info .infoCards h1{
    font-size: 2.5em;
    text-shadow: 8px -3px 8px #ff0000;
}